# Prepare Data

In [27]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [28]:
pip install requests

Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (3.4)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd

In [30]:
df_original = pd.read_csv('thailand_fuel.csv')

df_original

,region,province,fuel_type,year,value
0,ทั่วราชอาณาจักร,ทั่วราชอาณาจักร,น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91,2010,1.551604e+06
1,ทั่วราชอาณาจักร,ทั่วราชอาณาจักร,น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91,2011,1.859840e+06
2,ทั่วราชอาณาจักร,ทั่วราชอาณาจักร,น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91,2012,2.120873e+06
3,ทั่วราชอาณาจักร,ทั่วราชอาณาจักร,น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91,2013,3.337031e+06
4,ทั่วราชอาณาจักร,ทั่วราชอาณาจักร,น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91,2014,3.594805e+06
...,...,...,...,...,...
20745,ภาคใต้,นราธิวาส,บิวเทน,2015,0.000000e+00
20746,ภาคใต้,นราธิวาส,บิวเทน,2016,0.000000e+00
20747,ภาคใต้,นราธิวาส,บิวเทน,2017,0.000000e+00
20748,ภาคใต้,นราธิวาส,บิวเทน,2018,0.000000e+00
20749,ภาคใต้,นราธิวาส,บิวเทน,2019,0.000000e+00

In [31]:
df = df_original.groupby('province')['value'].sum().reset_index()
df

                   province         value
0                    กระบี่  2.982764e+06
1             กรุงเทพมหานคร  1.012293e+08
2   กรุงเทพมหานครและปริมณฑล  1.343742e+08
3                 กาญจนบุรี  3.323590e+06
4                 กาฬสินธุ์  1.561466e+06
..                      ...           ...
78                 เพชรบุรี  3.141279e+06
79                เพชรบูรณ์  2.031043e+06
80                      เลย  1.180924e+06
81                     แพร่  1.072198e+06
82               แม่ฮ่องสอน  3.636084e+05

[83 rows x 2 columns]

In [32]:
df.to_csv('result.csv', index=False)

# Upload Data

### Function Define

In [33]:
import requests
import json


## create package
def sendMetaToCkan(url_ckan, api_key, ckan_meta):
    headers = {
        'content-type': 'application/json',
        'Authorization': api_key,
    }

    url = '{}/api/action/package_create'.format(url_ckan)
    respond = requests.post(url, data=json.dumps(ckan_meta), headers=headers)
    res_text = respond.content.decode('utf-8').replace('\n','br')
    print(res_text)
    
## Upload File
def uploadFileToCkan(url_ckan, api_key, file_meta, path_input):
    headers = {'X-CKAN-API-Key': api_key}
    url = '{}/api/action/resource_create'.format(url_ckan)
    with open(path_input, "rb") as f:
        form_file = {'upload': f}
        respond = requests.post(url, data=file_meta, headers=headers, files=form_file)
        res_text = respond.content.decode('utf-8').replace('\n','br')
        print(res_text)
        print('<b>File has been uploaded</b>')

### Parameter

In [34]:
ckan_meta = {
      "name": "thailand_gdp02",
      "title": "THAILAND_GDP",
      "notes": "ข้อมูลผลิตภัณฑ์มวลรวม รายจังหวัด ย้อนหลังปีตั้งแต่ ค.ศ.2009 ถึง 2019",
      "data_type": "ข้อมูลสถิติ",
      "owner_org": "tu", ## ต้องสร้างองค์กรณ์ก่อนใน ckan และต้องใช้ชื่อ url
      "data_source": "-",
      "maintainer": "-",
      "update_frequency_unit": "ปี",
      "data_format": [
        "CSV"
      ],
      "maintainer_email": "tu@sci.com",
      "objective": [
        "ยุทธศาสตร์ชาติ",
        "แผนพัฒนาเศรษฐกิจและสังคมแห่งชาติ"
      ],
      "data_category": "ข้อมูลสาธารณะ",
      "geo_coverage": "ประเทศ",
      "license_id": "License not specified"
}


url_ckan = "https://ckan.storemesh.com" # ใส่ ip ของ ckan server ตรงนี้
api_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2ODA0OTg0NTAsImp0aSI6InBIeE5MbTFGVUpPTFQ1Mm9ad20zaGpQblFIV0JmNUtISWM5ck1rQk1GZ1FVakpUaktJbERfM1dib1NIQU5aYXBobzJCazByTU9MdXlFSUdjIn0.r7WW-76Yb6itT9z2mebvqN-_OVp1JYkx2H0kJVet7QU" ## ใส่ api key ตรงนี้

## for upload file
file_meta = {
    'package_id': ckan_meta['name'],
    'name': "exsemple-data",
}
# path_input = './result.csv'
path_input = './thailand_fuel.csv'

### Create Dataset

In [35]:
sendMetaToCkan(url_ckan, api_key, ckan_meta)
#{"help": "https://ckan.storemesh.com/api/3/action/help_show?name=package_create", "success": false, "error": {"maintainer": ["\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"], "update_frequency_unit": ["\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"], "maintainer_email": ["\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"], "__type": "Validation Error", "objective": ["\u0e44\u0e21\u0e48\u0e16\u0e39\u0e01\u0e40\u0e25\u0e37\u0e2d\u0e01"], "data_type": ["\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"], "geo_coverage": ["\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"], "license_id": ["\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"], "data_source": ["\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"], "notes": ["\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"], "owner_org": ["An organization must be provided", "\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"], "data_format": ["\u0e44\u0e21\u0e48\u0e16\u0e39\u0e01\u0e40\u0e25\u0e37\u0e2d\u0e01"], "data_category": ["\u0e04\u0e48\u0e32\u0e17\u0e35\u0e48\u0e02\u0e32\u0e14\u0e2b\u0e32\u0e22"]}}

{"help": "https://ckan.storemesh.com/api/3/action/help_show?name=package_create", "success": false, "error": {"__type": "Validation Error", "name": ["URL \u0e19\u0e35\u0e49\u0e16\u0e39\u0e01\u0e43\u0e0a\u0e49\u0e41\u0e25\u0e49\u0e27"]}}

### Upload File

In [36]:
uploadFileToCkan(url_ckan, api_key, file_meta, path_input)

{"help": "https://ckan.storemesh.com/api/3/action/help_show?name=resource_create", "success": true, "result": {"cache_last_updated": null, "package_id": "51f8a647-745f-46b3-840b-d7b13e11bdae", "datastore_contains_all_records_of_source_file": false, "datastore_active": false, "id": "447af922-8a59-4a62-b896-1339f2a7c1fe", "size": 2810917, "metadata_modified": "2023-04-04T06:13:08.897442", "resource_disaggregate": [], "state": "active", "hash": "", "format": "CSV", "mimetype_inner": null, "url_type": "upload", "mimetype": "text/csv", "cache_url": null, "name": "exsemple-data", "created": "2023-04-04T06:13:08.917231", "url": "https://ckan.storemesh.com/dataset/51f8a647-745f-46b3-840b-d7b13e11bdae/resource/447af922-8a59-4a62-b896-1339f2a7c1fe/download/thailand_fuel.csv", "created_at": "2023-04-04T06:13:08.917231", "last_modified": "2023-04-04T06:13:08.844466", "position": 1, "resource_type": null}}
<b>File has been uploaded</b>